/*! -----ABOUT----- */
.about {
  padding-top: 70px;
  padding-bottom: 86px;
}
.about__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
}
.about__item {
  font-size: 18px;
  color: #535353;
}
.about__number {
  margin: 0;
  padding-top: 18px;
  height: 106px;
  width: 100%;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 48px;
  color: #68b0c9;
  vertical-align: middle;
  background-image: url("../img/aboutbg.svg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
