/*! ----DELIVERY----- */
.delivery {
  padding-top: 44px;
  padding-bottom: 61px;
  background-image: url("../img/deliverybg.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.delivery__block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 580px;
}
.delivery__title {
  width: 235px;
  margin-bottom: 13px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}
.delivery__free {
  position: relative;
  display: block;
  margin-top: 10px;
  font-family: "MuseoSansCyrl-500", sans-serif;
  background-color: white;
  color: #68b0c9;
}
.delivery__free::after {
  position: absolute;
  display: block;
  content: "";
  width: 65px;
  height: 105px;
  top: 7px;
  left: 266px;
  background-image: url("../img/arrow3.svg");
}
.delivery__price {
  position: absolute;
  left: -350px;
  top: 40px;
}
