.logo {
  font-size: 20px;
  line-height: 24px;
  color: #160647;
}
.logo::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 14px;
  background-image: url("../img/rectangle131.svg");
}
.logo__bold {
  font-weight: 700;
}
.logo--footer::after {
  display: block;
  content: "Сервис обмена электронных валют";
  margin-top: 19px;
  margin-left: 34px;
  font-size: 14px;
  line-height: 17px;
  color: #838BA8;
}
