.d2-reviews {
  padding: 55px 0 95px; }

.d2-reviews__title {
  margin: 0;
  margin-bottom: 175px;
  text-align: center; }

.d2-reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
  padding: 0; }

.d2-reviews__item {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-columns: 100px 1fr 115px;
  grid-template-rows: auto auto auto;
  grid-template-areas: "d2-rev__img-cont d2-rev-name d2-rev-stars" "d2-rev__img-cont  d2-rev-rang d2-rev-stars" "d2-rev-text d2-rev-text d2-rev-text";
  width: 545px;
  padding: 25px;
  list-style-type: none;
  border-radius: 10px;
  background-color: #2b2946; }

.d2-reviews__item:not(:last-of-type) {
  margin-right: 140px; }

.d2-reviews__item-img-container {
  width: 100px;
  height: 100px;
  grid-area: d2-rev__img-cont; }

.d2-reviews__item-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center; }

.d2-reviews__item-name {
  margin: 0;
  margin-top: auto;
  font-weight: 700;
  grid-area: d2-rev-name; }

.d2-reviews__item-rang {
  margin: 0;
  font-size: 15px;
  grid-area: d2-rev-rang; }

.d2-reviews__item-date {
  position: absolute;
  top: 10px;
  right: 25px;
  margin: 0;
  font-size: 15px;
  color: #828a93;
  font-weight: 700;
  line-height: 2.61; }

.d2-reviews__item-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0 auto auto;
  padding: 0;
  grid-area: d2-rev-stars; }

.d2-reviews__item-star {
  width: 20px;
  height: 20px;
  background-image: url("../img/star-solid-golden.svg");
  background-size: cover;
  list-style-type: none; }

.d2-reviews__item-text {
  margin: 0;
  line-height: 1.458;
  grid-area: d2-rev-text; }

.d2-reviews__btn-container {
  margin: 0 auto 110px auto;
  width: 170px; }

.d2-reviews__button {
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  width: 13px;
  height: 13px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.d2-reviews__button:not(:last-of-type) {
  margin-right: 7px; }

.d2-reviews__button.focus {
  background-color: #FFFFFF; }

.d2-reviews__all-reviews {
  display: inline-block;
  min-width: 540px;
  padding: 0 80px;
  color: #ffffff;
  font-weight: 700;
  line-height: 3.2;
  border-radius: 34px;
  border: none;
  background-image: -o-linear-gradient(44deg, #603a9f 0%, #7e51ce 100%);
  background-image: linear-gradient(46deg, #603a9f 0%, #7e51ce 100%);
  height: 69px; }
