/*! -----BUTTON -----*/
.button {
  display: block;
  width: 230px;
  height: 60px;
  padding: 20px 20px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: #d60505;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.button:hover {
  background-color: #ad0000;
}
.button--benef {
  width: 326px;
}
.button-txt {
  margin: 0;
  padding: 0;
}
