/*! -----HEADER----- */
.header {
  z-index: 4;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  width: 170px;
  height: 75px;
}
.header__nav {
  margin-left: auto;
}
.header--white {
  background-color: #ffffff;
}
