/*! -----QUESTIONS----- */
.questions {
  padding-top: 110px;
  padding-bottom: 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #008aff;
  background-image: url("../img/questions-bgi.png");
  background-repeat: no-repeat;
  background-position: top -225px center;
}
.questions__title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 105px;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ffd52a), color-stop(45%, rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, #ffd52a 45%, rgba(0, 0, 0, 0) 45%);
  background-image: linear-gradient(to top, #ffd52a 45%, rgba(0, 0, 0, 0) 45%);
}
.questions__item-title {
  position: relative;
  padding: 23px 30px;
  font-size: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e2ecf5;
  cursor: pointer;
}
.questions__item-descr {
  padding: 38px 30px;
  font-size: 18px;
  font-weight: 300px;
  background-color: #e2ecf5;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.questions__list {
  width: 1030px;
  margin: 0 auto;
  text-align: left;
  -webkit-box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.2);
}
.questions__arrow {
  position: absolute;
  top: 25px;
  right: 30px;
  display: block;
  width: 18px;
  height: 18px;
  margin-left: auto;
  border-bottom: 3px solid #ffd52a;
  border-left: 3px solid #ffd52a;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.questions__arrow--active {
  border-bottom: 3px solid #e2ecf5;
  border-left: 3px solid #e2ecf5;
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
