/*! -----BONUS----- */

.d2-bonus {
  padding: 65px 0;
}
.d2-bonus__title {
  margin: 0;
  margin-bottom: 45px;
  text-align: center;
}
.d2-bonus__link-container {
  margin-bottom: 95px;
  text-align: center;
}
.d2-bonus__image {
  display: block;
  width: 61px;
  height: 61px;
  margin: 0 auto 25px;
}
.d2-bonus__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.d2-bonus__item {
  width: 320px;
  list-style-type: none;
}
.d2-bonus__item-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
}
.d2-bonus__item-text {
  margin: 0;
  text-align: center;
}

@media (max-width: 420px) {
  .d2-bonus {
    padding: 25px 0 30px;
  }
  .d2-bonus__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .d2-bonus__link-container {
    margin-bottom: 20px;
  }
  .d2-bonus__list {
    flex-direction: column;
  }
  .d2-bonus__item {
    width: 100%;
  }
  .d2-bonus__item:not(:last-of-type) {
    margin-bottom: 13px;
  }
  .d2-bonus__image {
    width: 30px;
    height: 31px;
    margin-bottom: 13px;
  }
  .d2-bonus__item-title {
    font-size: 15px;
    margin-bottom: 13px;
  }
  .d2-bonus__item-text {
    font-size: 12.5px;
  }
}