.d2-footer {
  padding: 14px 0;
  font-size: 15px;
  line-height: 3.143;
}
.d2-footer__logo {
  display: block;
  margin-right: 145px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fffc00;
}