.d2-header {
  padding: 14px 0;
  font-size: 15px;
  line-height: 3.143;
}
.d2-header__container {
  display: flex;
}
.d2-header__logo {
  display: block;
  margin-right: 145px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fffc00;
}
.d2-header__list {
  padding: 0;
  margin: 0;
  display: flex;
}
.d2-header__item {
  list-style-type: none;
  margin-right: 45px;
}
.d2-header__link {
  color: white;
}
.d2-header__item-1 {}
.d2-header__item-2 {}
.d2-header__item-3 {}